# Configuración del Servidor
NODE_ENV=development
PORT=3000

# Configuración de MongoDB
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=password
MONGO_DB=galacticapp_db

# URI de MongoDB (se genera automáticamente en docker-compose)
# Para desarrollo local: mongodb://localhost:27017/galacticapp_db
# Para Docker: mongodb://admin:password@mongodb:27017/galacticapp_db
